body {
    background: #202020;
    align-items: center;
    display: flex;
    margin: 0;
}

canvas {
    border: solid 1px #FFFFFF;
    border-left: none;
    border-right: none;
    image-rendering: pixelated;
    width: 100%;
    margin: 0 auto;
}